.container-footer {
    position: relative;
}

.lettering-footer {
    fill: var(--white);
    left: 20%;
    margin-top: 20%;
    opacity: .5;
    position: absolute;
    width: 60%;
}

.footer-info {
    text-align: center;
}